.eventTable-container {
  height: 70vh; /* Fixed height to ensure the container has a defined space */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  background-color: white; /* Ensure the background is visible behind the shadow */
  /* padding-right: 10px; */
}

.eventTable-container::-webkit-scrollbar {
  width: 8px;
}

.eventTable-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Set color for the scrollbar thumb */
  border-radius: 10px; /* Round the corners */
}

/* Show scrollbar when hovering or scrolling */
.eventTable-container.show-scrollbar::-webkit-scrollbar {
  width: 8px; /* Make the scrollbar thinner */
}

.eventTable-container.show-scrollbar::-webkit-scrollbar-thumb {
  opacity: 1; /* Make scrollbar thumb visible */
}

.event-table {
  border: none;
  border-collapse: collapse;
  width: 100%; /* Ensure the table takes full width of the container */
}

.event-table th,
.event-table td {
  height: 50px;
  border: none;
  padding: 8px; /* Optional: Add padding to table cells */
}

.event-table th {
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick the header to the top of the container */
  z-index: 1; /* Ensure the header stays on top */
}

.event-items{
  align-items: center;
}

.edit-button {
  background-image: url('../../assets/edit.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px; 
  margin: 10px;
  /* background-position: left center; */
}

.delete-button {
  background-image: url('../../assets/delete\ \(1\).png');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: aqua; */
  width: 35px;
  height: 35px;
  margin: 10px;
}


/* .info-button,
.print-button {
  margin: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
} */
